html,
body {
  height: 100%;
}
  
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.2;
  color: $defauult;
  @extend %DMSans-700;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &__wrapper {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.title {
  font-size: 36px;
  line-height: 1;
  color: $title;
  margin-bottom: 34px;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  &__list:not(:last-child) {
    margin-right: 30px;
  }
  &__btn {
    color: #8b8b8b;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}