$defauult: #243f4d;
$title: #191919;
$nav: #436372;
$link: #a3bbc8;

%DMSans-Bold {
  font-family: 'DM Sans Bold', sans-serif;
  font-weight: 700;
}

%DMSans-Medium {
  font-family: 'DM Sans Medium', sans-serif;
  font-weight: 500;
}

%DMSans-Regular {
  font-family: 'DM Sans Regular', sans-serif;
  font-weight: 400;
}

%Poppins-Bold {
  font-family: 'Poppins Bold', sans-serif;
  font-weight: 700;
}

%Rubik-Medium {
  font-family: 'Rubik Medium', sans-serif;
  font-weight: 500;
}

%Rubik-Regular {
  font-family: 'Rubik Regular', sans-serif;
  font-weight: 400;
}